<div class="card shadow-sm">
  <div class="card-body">
    <div class="row">
      <div class="col">
        <span class="fw-bold"><%= tweet.user.full_name %></span>, 
        <span>@<%= tweet.user.username %> - <%= l tweet.created_at, format: :short %></span>
      </div>
    </div>
    <div class="row">
      <span><%= tweet.content %></span>
    </div>
  </div>
</div>