<% unless user_signed_in? %>
  <div class="d-grid gap-3">
    <%= image_tag 'twitter_logo.png',
        src: 'Image Not Found', 
        class: 'w-50 mx-auto' %>
    <span class="text-center fw-bold">This is an example of a Twitter Clone App, please</span>
    <%= link_to 'Login', new_user_session_path, class: 'btn btn-primary'%>
    <span class="text-center">or</span>
    <%= link_to 'Register', new_user_registration_path, class: 'btn btn-outline-primary'%>
  </div>
<% end %>