<div class="d-flex flex-row justify-content-center">
  <div class="d-grid gap-3">
    <%= image_tag 'twitter_logo.png',
        src: 'Image Not Found', 
        class: 'w-50 mx-auto' %>
    <span class="text-center fw-bold">This is an example of a Twitter Clone App, please</span>
    <a class="btn btn-primary" href="#">Login</a>
    <span class="text-center">or</span>
    <a class="btn btn-outline-primary" href="#">Register</a>
  </div>
</div>